$def with (url, data=None)

<form id="form" action="$url" method="post"> 
    <label for='title'>Title</label><br/>
    <input type='text' name='title' id='title' /><br/>
    <label for='content'>Content</label><br/>
    <!--<input type="hidden" name="content" id="content"></textarea>-->
    <textarea name="content" id="content"></textarea> <br/>
    <label for='url'>URL</label><br/>
    <input type='text' name='url' id='url' /><br/>
    <!--<label for='type'>Type</label><br/>
    <input type='text' name='type' id='type' /><br/>-->
    <label for='section'>Section</label><br/>
    <input type='text' name='section' id='section' /><br/>
    <label for='author'>Author</label><br/>
    <input type='text' name='author' id='author' /><br/>
<br/>
    <input type="submit" value="Publish Page" /> 
</form>

<script type="text/javascript" src="/static/js/wymeditor/jquery.wymeditor.js"></script>
<script type="text/javascript"> 

    var editMode = /\/edit\//.test(document.location.pathname);
    var addMode = !editMode;
    
    // wait for the DOM to be loaded 
    jQuery(document).ready(function() { 
        // Make the form Ajax-Submit
        jQuery('#form').submit(function() { 
            jQuery('#content').val(jQuery.wymeditors(0).html());
            // submit the form 
            jQuery(this).ajaxSubmit(); 
            // return false to prevent normal browser submit and page navigation
            location.href = '/' + jQuery('#url').val()
            return false;
        });    
        
        // Load data
        if (editMode){
            new_path = (document.location.pathname).replace('/edit/', '/ajax/');
            jQuery.getJSON(new_path, function(data){
                for (item in data){
                    jQuery('#' + item).val(data[item]);
                    item === 'content' && jQuery('#content').wymeditor({ logoHtml: '', html: data[item]});
                }
            });
        }
        // Load WYMEditor
        else if (addMode){
            jQuery('#content').wymeditor({                           
                logoHtml: '', 
                postInit: function(wym) {
                    wym.hovertools();
                    wym.resizable();
                }
            });
        }
        
        //Bind blur event so: title -> [filter] -> url       
        jQuery("#title").blur(function () {
            jQuery('#url').val(jQuery(this).val().replace(/\W/g, '-').toLowerCase())
        });
    });
    
</script> 