$def with (foo=None)

<div class="footer">
    <div class="contact">
      <p>
        Gali Geva Bar Yochay<br/>
        Cofounder of <a href="http://github.com/">GitHub</a><br/>
        gali.geva@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mojombo/">github.com/mojombo</a><br/>
        <a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br/>
        <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img alt="Subscribe to RSS Feed" src="/static/media/rss.png"/>
      </a>
    </div>
</div>        
