$def with (foo=None)

<div class="footer">
    <div class="contact">
      <p>
        Tzury Bar Yochay<br/>
        <a href="mailto:tzury.by@gmail.com">tzury.by@gmail.com</a><br/>
        Design by <a href="http://tom.preston-werner.com/"> Tom Preston-Werner</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://www.facebook.com/people/Tzury_Bar_Yochay/513676303">facebook.com</a><br/>
        <a href="http://evalinux.wordpress.com/">evalinux.wordpress.com</a><br/>
        <a href="http://twitter.com/tzury">twitter.com/tzury</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img alt="Subscribe to RSS Feed" src="/static/media/rss.png"/>
      </a>
    </div>
</div>        
